<!DOCTYPE html>
<html lang="en">

  {{ $title := (printf "%s - Nijk" (.preset | title)) }}
  {{ template "head.html" $title }}

  <body>
    {{ template "nav.html" }}

    <article>
      {{ template "form.html" (formParam (.preset | title) "") }}

      <hr class="my-4">

      <dl>
        <dt>Projects based on:</dt>
        <dd>
          <ul>
            {{ range $item := .items }}
            <li>
              <a href="{{ $item.URL }}"> {{ $item.Project }} </a>
            </li>
            {{ end }}
          </ul>
        </dd>
      </dl>
    </article>
  </body>
</html>
