<!DOCTYPE html>
<html lang="en">
  {{ $title := (printf "%s - Nijk" .this) }}
{{ template "head.html" $title }}

<body>
  {{ template "nav.html" }}

  <article>
    {{ template "form.html" (formParam (.preset | title) .this) }}

    <hr class="my-4">

    <header class="mb-5">
      <h2><code>{{ .this }}</code></h2>
    </header>

    {{ template "section.html" (sectionParam "Co-occuring" .syntagmatic) }}
    {{ template "section.html" (sectionParam "Similar Context" .paradigmatic) }}
    {{ template "section.html" (sectionParam "Containing" .containing) }}

  </article>
</body>
</html>
