<!DOCTYPE html>
<html lang="en">
  {{ $title := (printf "%s in %s - Nijk" .this (.preset | title)) }}
{{ template "head.html" $title }}

<body>
  {{ template "nav.html" }}

  <article>
    <header class="mb-4">
      <h2><code>{{ .this }}</code> in {{ .preset | title }}</h2>
    </header>

    {{ template "section.html" (sectionParam "Similar to" .paradigmatic) }}
    {{ template "section.html" (sectionParam "Co-occuring with" .syntagmatic) }}
    {{ template "section.html" (sectionParam "Containing" .containing) }}

  </article>
</body>
</html>
