<!DOCTYPE html>
<html lang="en">
{{ $title := (printf "%s in %s" .this (.preset | title)) }}
{{ template "head.html" $title }}

<body>
  <article>
    <header class="mb-5">
      <h1><code>{{ .this }}</code> in {{ .preset | title }}</h1>
    </header>

    {{ template "section.html" (sectionParam "Similar to" .this .paradigmatic) }}
    {{ template "section.html" (sectionParam "Co-occuring with" .this .syntagmatic) }}
    {{ template "section.html" (sectionParam "Containing" .this .containing) }}

  </article>
</body>
</html>
